.idea/
.rup/
dummy.txt
*.iml
*.ipr
*.log
*.iws
out/
bin/
build/
.settings/
.project
.classpath
.gradle/
target/
catalina.base_IS_UNDEFINED

*/.idea/
Task1/.idea/
.idea/
Task1/.rup/
dummy.txt
*.iml
*.ipr
*.log
*.iws
Task1/out/
Task1/bin/
Task1/build/
.settings/
.project
.classpath
.gradle/